<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="urlrewrites" type="ThunderMain.URLRewriter.Rewriter, ThunderMain.URLRewriter, Version=1.0.783.30976, Culture=neutral, PublicKeyToken=7a95f6f4820c8dc3"/>
		</sectionGroup>
	</configSections>
	<system.web>
    
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" />
		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
		<!--<machineKey validationKey="851CCB201E5B8D255263D5A335E39C23679573E497DD71812379BED230304C8ED9A122EDB7C4E1A28C3296ED54397039998B22F27CFA4005C78C63976269E52B" decryptionKey="85E04E1BB6BD312DF076A816A726504B4D92538193D6694488D9288B6739CD99" validation="SHA1" decryption="AES" />-->
		<!--<machineKey validationKey="1E0F479366D0933247A45973934D4A2D3DD659633C3C3EE5741F6572590D5769EA7F9C7582FCFFCDEA582D8168724D8DCEB14BD8062BA0D2B4933CFA68003472" decryptionKey="7E0345CD88D10CF612F121508C40FA6351C45561D096124556878A10D590ECBE" validation="SHA1" decryption="AES" />-->
		<compilation targetFramework="4.0" debug="true"/></system.web>
	<appSettings>
		<add key="UnsubscribeSubject" value="Unsubscribe - Your confirmation is required"/>
		<add key="SubscribeSubject" value="Subscribe - Your confirmation is required"/>
		<add key="SubscribeBody" value="Subscribe"/>
		<add key="UnsubscribeBody" value="Unsubscribe"/>
		<add key="SMTPServer" value="relay-hosting.secureserver.net"/>
		<add key="CompanyName" value="Aceindus"/>
		<add key="mailid" value="sthalacheeru_aceindus@yahoo.com"/>
		<add key="ConnectionString" value="Data Source=medqms.db.12372324.hostedresource.com; User ID=medqms; Password=Aceindus@18; Persist Security Info=true; Initial Catalog=medqms; Connect Timeout=3000; pooling='true'; Max Pool Size=3000"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="feedback@wawalive.com">
				<network host="smtp25.elasticemail.com" password="dc808cd8-512f-4f02-a6d6-9a2fc68ada01" userName="ravi_iginc@yahoo.com" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
 
  
</configuration>
